# Database — format: postgres://user:password@host:port/database
DATABASE_URL=postgres://emp_comp_app:emp_comp@1234@localhost:5432/employee_compensation

# App Config
NODE_ENV=development
DEFAULT_BONUS_PERCENTAGE=5
